<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Project/JenkinsRestAssuredConfig">
        <classes>
            <class name="testPackage.test">
                <methods>
                    <include name="getRequest"/>
                    <include name="postRequest"/>
                    <include name="putRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>